body {
  background-color: #e6e3e4;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  align-items: center;
}

td {
  padding-right: 15px;
  vertical-align: top;
}

.navbar {
  font-weight: bold;
  padding-bottom: 10px;
  flex-grow: 0;
}

.nav-link{
  color: red;
}

.navbar-brand {
  display: none;
  color: red;
  font-size: 16px;
  padding-left: 0px
}

.active {
  color: black;
}

.container-fluid {
  width: 100%; 
  max-width: 1000px;
}

.row {
  width: 100%; 
  max-width: 1000px;
}

@media screen and (max-width: 575px){
  .navbar-brand {
    display: inline;
  }

  .hide-sm {
    display: none;
  }
}

.img-tile {
  padding: 24px; 
  margin: 8px; 
  background-color: white;
  max-width: 1000px;
}

.img-tile-row {
  max-width: 1000px; 
  margin: auto; 
  padding-left: 4px;
  padding-right: 4px;
}