body {
  background-color: #666666;
  font-family:'Times New Roman', Times, serif;
  align-items: center;
}

td {
  padding-right: 15px;
  vertical-align: top;
}

.navbar {
  padding-bottom: 10px;
  flex-grow: 0;
  background-color: white;
}

.nav-link{
  color: #cc0000;
  
}

.navbar-brand {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding-left: 0px
}

.active {
  color: black;
}

.container-fluid {
  width: 100%; 
  max-width: 1000px;
}

.row {
  width: 100%; 
  max-width: 1000px;
}

.img-tile {
  padding: 0px; 
  margin: 8px; 
  max-width: 1000px;
}

.img-tile-row {
  max-width: 1000px; 
  margin: auto; 
  padding-left: 4px;
  padding-right: 4px;
}

.img-fluid {
  width: 100%;
}

.hide-sm {
  color:rgb(0, 0, 0);
}

@media screen and (max-width: 767px){
  .caption {
    margin-top: 0px;
  }
}

@media screen and (max-width: 575px){
  .navbar-brand {
    display: inline;
  }

  .hide-sm {
    display: none;
  }
}