body {
  background-color: rgb(255, 255, 255);
  font-family: 'Gill Sans', sans-serif;
  padding: 0px;
}

.navbar {
  font-weight: bold;
  padding-bottom: 40px;
}

.nav-link{
  color: red;
}

.navbar-brand {
  display: none;
  color: red;
  font-size: 16px;
}

.active {
  color: black;
}

.container-fluid {
  width: 100%; 
  max-width: 1000px;
}

@media screen and (max-width: 575px){
  .navbar-brand {
    display: inline;
  }

  .hide-sm {
    display: none;
  }
}
